pip-selfcheck.json
.Python
*.pyc
.DS_Store
*.swp
/venv/
/static/
/media/
/tmp/
/.vagrant/
/Vagrantfile.local
/docs/_build/
/bin/
/lib/
/include/
.coverage
coverage.xml
man/
nosetests.xml
.template-version
db.sqlite3
src/
log/
stats/

node_modules/
wagtailspace/static/
wagtailspace/settings/local.py

config-dev-stats.json
config-prd-stats.json

npm-debug.log
yarn-error.log
