<div class="{{ self.color }}">
  <div class="container">
    <div class="col-md-12">
      {% if self.title %}<h1>{{ self.title }}</h1>{% endif %}
    </div>
    <div class="col-md-12">
      <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Nickname</th>
          <th>Company</th>
          <th>Dates</th>
          <th>% Sure</th>
          <th>Remote</th>
        </tr>
      </thead>
      <tbody>
        {% for block in self.attendees %}
          <tr class="{% cycle 'even' 'odd' %}">
            {{ block }}
          </tr>
        {% endfor %}
      </tbody>
      </table>
    </div>
  </div>
</div>